
<style>
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;
    }
    button{
        width:200px;
        height:100px;
        font-size: larger;
        border:0;
        outline:none;
    }
    button a{
        color: white;
        text-decoration: none;
    }
    #login-button{
        background-color: green;
    }
    #sign-up{
        background-color: red;
    }
</style>
<div id="container">
<button id="login-button"> <a href="./login">LOGIN</a></button>
<button id="sign-up"> <a href="./signup">SIGN UP</a></button>
</div>